@import 'tailwindcss';

@theme {
  --color-gunmetal: #132122;
  --color-caribbean-current: #2c6b6c;
  --color-verdigris: #63b5b1;
  --color-orange-crayola: #ee7c48;

  --border-width-vibe: 2px;

  --padding-nav: 100px;

  --breakpoint-*: initial;
  --breakpoint-mobile: 320px;
  --breakpoint-desktop: 720px;

  --radius-vibe: 5px;
  --radius-user-image: 20%;

  --font-poppins-light: poppins-light;
  --font-poppins-semibold: poppins-semibold;

  --background-image-orange-gradient: linear-gradient(
    90deg,
    #ee7c48 0%,
    #ff5000 100%
  );
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@font-face {
  font-family: 'poppins-light';
  src: url('/fonts/poppins_light.ttf') format('truetype');
}

@font-face {
  font-family: 'poppins-regular';
  src: url('/fonts/poppins_regular.ttf') format('truetype');
}

@font-face {
  font-family: 'poppins-semibold';
  src: url('/fonts/poppins_semibold.ttf') format('truetype');
}

.animate-appear-from-top {
  animation: appear-from-top 0.3s forwards ease-in-out;
}

@keyframes appear-from-top {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

:root {
  font-family: 'poppins-regular';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color: #132122;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  margin: 0;
  min-width: 320px;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
